export(
   getExt, 
   odfDataType, 
   odfInsertPlot,   
   odfList, 
   odfStyleGen, 
   odfTable, 
   odfTable.character, 
   odfTable.data.frame, 
   odfTable.matrix,    
   odfTable.numeric, 
   odfTableGen, 
   odfTranslate, 
   odfWeave, 
   parseOdfXml)


S3method(odfTable, default)
S3method(odfTable, character)
S3method(odfTable, matrix)
S3method(odfTable, numeric)
S3method(odfTable, data.frame)



