export(
   checkLength,
   figGen,
   getExt,
   isPlotChunk,
   odfDataType, 
   odfInsertPlot,   
   odfList, 
   odfStyleGen, 
   odfTable, 
   odfTable.character, 
   odfTable.data.frame, 
   odfTable.matrix,    
   odfTable.numeric, 
   odfTableGen, 
   odfTranslate, 
   odfWeave, 
   odfWeaveControl,
   parseOdfXml,
   readXML,
   stripXmlTag)


S3method(odfTable, character)
S3method(odfTable, matrix)
S3method(odfTable, numeric)
S3method(odfTable, data.frame)

S3method(print, odfTable)
S3method(print, odfList)

